.Sidebar {
    width: 82px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    
    &__Upper {
        display: flex;
        flex-direction: column;

        &__Button {
            width: 60%;
            height: 55px;
            margin: 5px auto;
        }
    }

    &__Lower {
        width: 100%;
        // border: 1px solid red;
        margin: 5px auto;
        
        &__Button {
            width: 60%;
            margin: 5px auto;
        }
    }
}