.App {
    width: 100%;
    height: 100vh;
    // border: 1px solid red;
    
    // display: flex;
    // flex-direction: row;
    &__container{
        display:flex;
    }
    &__Content {
        display: flex;
        flex-direction: column;
        width:100%;
        height: 100vh;
        // border: 1px solid red;
        background-color: #f4f5f7;

        &__List {
            // height: calc(100vh - 73px);
            height:100%;
            display: flex;
            flex-direction: row;
            // border: 1px solid red;
        }
    }

}